/*****************
ToakoTech Homepage
*****************/
//Grayscale (gs)
$gs1: #141414;
$gs2: #292929;
$gs3: #3d3d3d;
$gs4: #525252;
$gs5: #666666;
$gs6: #7a7a7a;
$gs7: #8f8f8f;
$gs8: #a3a3a3;
$gs9: #b8b8b8;
$gs10: #cccccc;
$gs11: #e0e0e0;
//Body and links
$navPurple: #B661F4;
$navPurpleHover: #c88af2;
$navPurpleActive: #41097a;
$navPurpleDisabled: #7110cc;
$navOrange: #f46213;
$navOrangeHover: #F27D3A;
$navOrangeActive: #511b06;
$navOrangeDisabled: #a33c0d;
$navGreen: #61F493;
$navGreenHover: #8af2af;
$navGreenActive: #03280a;
$navGreenDisabled: #0da335;
$navBlue: #3AE3F4;
$navBlueHover: #61e4f4;
$navBlueActive: #032826;
$navBlueDisabled: #09777a;
//Interim Menu Colors
$interimMenu0: #011d39;
$interimMenu1: #082547;
$interimMenu2: #142f58;
$interimMenu3: #203a6d;
$interimMenu4: #2b4375;
$interimMenu5: #3a4d86;
$interimMenu6: #4c5b96;
$interimMenu7: #6679af;
$interimMenu8: #7591c4;
$interimMenu9: #89abdd;

/*************
Portfolio Page
*************/
// wp = will portfolio

//Light shades
$wp_purple0: #9ca8e4;
$wp_white0: #f2f6fe;
$wp_black0: #94969f;
$wp_green0: #b5f4df;
$wp_pink0: #e8a0c6;

//Normal shade
$wp_purple: #2854cc;
$wp_white: #e2ebff;
$wp_black: #1e2335;
$wp_green: #5cf9c5;
$wp_pink: #e3308d;

//Dark shade
$wp_purple2: #0a142e;
$wp_white2: #697183;
$wp_black2: #0d1126;
$wp_green2: #0e996b;
$wp_pink2: #930046;










/**************
Generic Colors
**************/
$blue: #0069aa;
$indigo: #7a09fa;
$purple: #3003d9;
$pink: #c85086;
$red: #891e2b;
$orange: #ff5000;
$yellow: #ffa214;
$yellowhover: #d38511;
$green: #1e6f50;
$teal: #33984b;
$cyan: #0098dc;
$white: #fff;
$gray-100: #f5f5fa;
$gray-200: #e1e9f7;
$gray-300: #c7cfdd;
$gray-400: #92a1b9;
$gray-500: #657392;
$gray-600: #424c6e;
$gray-700: #2a2f4e;
$gray-800: #1a1932;
$gray-900: #0e071b;
$black: #000;
//Blue purp!
$purple2: #7953A9;
$purple1: #8B74BD;
$bgcolor: #daddff;
$blue1: #B9BFFF;
$blue2: #4066E0;
$blue3: #22277A;
// The infinity palette
$infred: #e60013;
$inforange: #ff8126;
$infyellow: #ffe800;
$infgreen: #14ff2f;
$infforest: #0b7417;
$infnavy: #1e3c64;
$infblue: #009bff;
$infcyan: #30ffff;
$infpurple: #663399;
$infmagenta: #c214ff;
$infgraydark: #494949;
$infgraylight: #fafafa;