/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*
*           STYLESHEET FOR PORTFOLIO SEGMENT OF WEBSITE
*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@import "~bootstrap/scss/bootstrap";
@import "~react-bootstrap-range-slider/dist/react-bootstrap-range-slider.scss";
@import "globals/colors.scss";

footer {
    padding: 10px;
    background-color: $gray-800;
    color: $white;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: $gray-200; }
::-webkit-scrollbar-thumb { background: $gray-400; }
::-webkit-scrollbar-thumb:hover { background: $gray-500; }